<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/css/MainStyle.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div>        
        @RenderPage("~/Views/Shared/Header.cshtml")
        @RenderPage("~/Views/Shared/MainMenu.cshtml")
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
