<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../../Content/css/GraySite.css" rel="Stylesheet" type="text/css"></link>
    <script src="../../Content/scripts/script.js" type="text/javascript"></script>
</head>
<body>
    <div>        
        @RenderPage("~/Views/Shared/Header.cshtml")
        @RenderPage("~/Views/Shared/MainMenu.cshtml")
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
