@using HotelManagement.Helpers;

<div>
    <fieldset>
        @Html.ActionLink("HotelChains", "Index", "HotelChain")
        &nbsp;
        @Html.ActionLink("Hotels", "Index", "Hotel")
        &nbsp;
        @Html.ActionLink("Rooms", "Index", "Room")
        &nbsp;
    </fieldset>
    
</div>
