/HotelManagement.Tests/bin/Debug/HotelManagement.Tests.dll
/HotelManagement.Tests/bin/Debug/HotelManagement.Tests.dll.config
/HotelManagement.Tests/bin/Debug/HotelManagement.Tests.pdb
/HotelManagement.Tests/bin/Debug/HotelManagement.dll
/HotelManagement.Tests/bin/Debug/HotelManagement.pdb
/HotelManagement.Tests/bin/Debug/Iesi.Collections.dll
/HotelManagement.Tests/bin/Debug/Iesi.Collections.xml
/HotelManagement.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
/HotelManagement.Tests/bin/Debug/NHibernate.dll
/HotelManagement.Tests/bin/Debug/NHibernate.xml
/HotelManagement.Tests/bin/Debug/Newtonsoft.Json.dll
/HotelManagement.Tests/bin/Debug/Newtonsoft.Json.xml
/HotelManagement.Tests/bin/Debug/Ninject.Web.Common.dll
/HotelManagement.Tests/bin/Debug/Ninject.Web.Common.pdb
/HotelManagement.Tests/bin/Debug/Ninject.Web.Common.xml
/HotelManagement.Tests/bin/Debug/Ninject.dll
/HotelManagement.Tests/bin/Debug/Ninject.pdb
/HotelManagement.Tests/bin/Debug/Ninject.xml
/HotelManagement.Tests/bin/Debug/System.Net.Http.Formatting.dll
/HotelManagement.Tests/bin/Debug/System.Net.Http.Formatting.xml
/HotelManagement.Tests/bin/Debug/System.Net.Http.WebRequest.dll
/HotelManagement.Tests/bin/Debug/System.Net.Http.WebRequest.xml
/HotelManagement.Tests/bin/Debug/System.Net.Http.dll
/HotelManagement.Tests/bin/Debug/System.Net.Http.xml
/HotelManagement.Tests/bin/Debug/System.Web.Helpers.dll
/HotelManagement.Tests/bin/Debug/System.Web.Helpers.xml
/HotelManagement.Tests/bin/Debug/System.Web.Http.WebHost.dll
/HotelManagement.Tests/bin/Debug/System.Web.Http.WebHost.xml
/HotelManagement.Tests/bin/Debug/System.Web.Http.dll
/HotelManagement.Tests/bin/Debug/System.Web.Http.xml
/HotelManagement.Tests/bin/Debug/System.Web.Mvc.dll
/HotelManagement.Tests/bin/Debug/System.Web.Mvc.xml
/HotelManagement.Tests/bin/Debug/System.Web.Razor.dll
/HotelManagement.Tests/bin/Debug/System.Web.Razor.xml
/HotelManagement.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
/HotelManagement.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
/HotelManagement.Tests/bin/Debug/System.Web.WebPages.Razor.dll
/HotelManagement.Tests/bin/Debug/System.Web.WebPages.Razor.xml
/HotelManagement.Tests/bin/Debug/System.Web.WebPages.dll
/HotelManagement.Tests/bin/Debug/System.Web.WebPages.xml
/HotelManagement.Tests/bin/Debug/WebActivator.dll
/HotelManagement.Tests/bin/Debug/hibernate.cfg.xml
/HotelManagement.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HotelManagement.Tests/obj/Debug/HotelManagement.Tests.csproj.FileListAbsolute.txt
/HotelManagement.Tests/obj/Debug/HotelManagement.Tests.csprojResolveAssemblyReference.cache
/HotelManagement.Tests/obj/Debug/HotelManagement.Tests.dll
/HotelManagement.Tests/obj/Debug/HotelManagement.Tests.pdb
/HotelManagement/Models/Mappings/Room.hbm.xml
/HotelManagement/Models/Mappings/RoomType.hbm.xml
/HotelManagement/bin/HotelManagement.dll
/HotelManagement/bin/HotelManagement.pdb
/HotelManagement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/HotelManagement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HotelManagement/obj/Debug/HotelManagement.csproj.FileListAbsolute.txt
/HotelManagement/obj/Debug/HotelManagement.dll
/HotelManagement/obj/Debug/HotelManagement.pdb
/HotelManagement/obj/Debug/TempPE/Models.Mappings.NHibernateModel1.cs.dll
/HotelManagement.suo
/HotelManagement.Tests/bin/Debug/Ninject.Web.Mvc.dll
/HotelManagement.Tests/bin/Debug/Ninject.Web.Mvc.pdb
/HotelManagement.Tests/bin/Debug/Ninject.Web.Mvc.xml
/HotelManagement.Tests/bin/Debug/Rhino.Mocks.dll
/HotelManagement.Tests/bin/Debug/Rhino.Mocks.xml
/HotelManagement.Tests/bin/Debug/RouteDebugger.dll
/HotelManagement.Tests/bin/Debug/nunit.framework.dll
/HotelManagement.Tests/bin/Debug/nunit.framework.xml
/HotelManagement/bin/Rhino.Mocks.dll
/HotelManagement/bin/Rhino.Mocks.xml
/HotelManagement/bin/nunit.framework.dll
/HotelManagement/bin/nunit.framework.xml
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/HotelManagement.Tests.pdb
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/HotelManagement.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/HotelManagement.pdb
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/Iesi.Collections.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/Microsoft.Web.Infrastructure.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/NHibernate.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/Newtonsoft.Json.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/Ninject.Web.Common.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/Ninject.Web.Common.pdb
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/Ninject.Web.Mvc.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/Ninject.Web.Mvc.pdb
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/Ninject.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/Ninject.pdb
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/RouteDebugger.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Net.Http.Formatting.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Net.Http.WebRequest.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Net.Http.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Web.Helpers.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Web.Http.WebHost.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Web.Http.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Web.Mvc.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Web.Razor.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Web.WebPages.Deployment.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Web.WebPages.Razor.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/System.Web.WebPages.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/WebActivator.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/hotelmanagement.tests.dll
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12/Out/hotelmanagement.tests.dll.config
/TestResults/CHRISTV_UKR9FA8LH 2012-11-28 10_51_12.trx
TestResults
/HotelManagement.Tests/bin/Debug/HotelManagement.Tests.dll.VisualState.xml
/HotelManagement.Tests/bin/Release/HotelManagement.Tests.dll
/HotelManagement.Tests/bin/Release/HotelManagement.Tests.dll.config
/HotelManagement.Tests/bin/Release/HotelManagement.Tests.pdb
/HotelManagement.Tests/bin/Release/HotelManagement.dll
/HotelManagement.Tests/bin/Release/HotelManagement.pdb
/HotelManagement.Tests/bin/Release/Iesi.Collections.dll
/HotelManagement.Tests/bin/Release/Microsoft.Web.Infrastructure.dll
/HotelManagement.Tests/bin/Release/NHibernate.dll
/HotelManagement.Tests/bin/Release/Newtonsoft.Json.dll
/HotelManagement.Tests/bin/Release/Newtonsoft.Json.xml
/HotelManagement.Tests/bin/Release/Ninject.Web.Common.dll
/HotelManagement.Tests/bin/Release/Ninject.Web.Mvc.dll
/HotelManagement.Tests/bin/Release/Ninject.Web.Mvc.pdb
/HotelManagement.Tests/bin/Release/Ninject.Web.Mvc.xml
/HotelManagement.Tests/bin/Release/Ninject.dll
/HotelManagement.Tests/bin/Release/Rhino.Mocks.dll
/HotelManagement.Tests/bin/Release/Rhino.Mocks.xml
/HotelManagement.Tests/bin/Release/RouteDebugger.dll
/HotelManagement.Tests/bin/Release/System.Net.Http.Formatting.dll
/HotelManagement.Tests/bin/Release/System.Net.Http.Formatting.xml
/HotelManagement.Tests/bin/Release/System.Net.Http.WebRequest.dll
/HotelManagement.Tests/bin/Release/System.Net.Http.WebRequest.xml
/HotelManagement.Tests/bin/Release/System.Net.Http.dll
/HotelManagement.Tests/bin/Release/System.Net.Http.xml
/HotelManagement.Tests/bin/Release/System.Web.Helpers.dll
/HotelManagement.Tests/bin/Release/System.Web.Helpers.xml
/HotelManagement.Tests/bin/Release/System.Web.Http.WebHost.dll
/HotelManagement.Tests/bin/Release/System.Web.Http.WebHost.xml
/HotelManagement.Tests/bin/Release/System.Web.Http.dll
/HotelManagement.Tests/bin/Release/System.Web.Http.xml
/HotelManagement.Tests/bin/Release/System.Web.Mvc.dll
/HotelManagement.Tests/bin/Release/System.Web.Mvc.xml
/HotelManagement.Tests/bin/Release/System.Web.Razor.dll
/HotelManagement.Tests/bin/Release/System.Web.Razor.xml
/HotelManagement.Tests/bin/Release/System.Web.WebPages.Deployment.dll
/HotelManagement.Tests/bin/Release/System.Web.WebPages.Deployment.xml
/HotelManagement.Tests/bin/Release/System.Web.WebPages.Razor.dll
/HotelManagement.Tests/bin/Release/System.Web.WebPages.Razor.xml
/HotelManagement.Tests/bin/Release/System.Web.WebPages.dll
/HotelManagement.Tests/bin/Release/System.Web.WebPages.xml
/HotelManagement.Tests/bin/Release/WebActivator.dll
/HotelManagement.Tests/bin/Release/hibernate.cfg.xml
/HotelManagement.Tests/bin/Release/nunit.framework.dll
/HotelManagement.Tests/bin/Release/nunit.framework.xml
/HotelManagement.Tests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/HotelManagement.Tests/obj/Release/HotelManagement.Tests.csproj.FileListAbsolute.txt
/HotelManagement.Tests/obj/Release/HotelManagement.Tests.csprojResolveAssemblyReference.cache
/HotelManagement.Tests/obj/Release/HotelManagement.Tests.dll
/HotelManagement.Tests/obj/Release/HotelManagement.Tests.pdb
/HotelManagement/obj/Debug/CSAutoParameterize.parameters.xml
/HotelManagement/obj/Debug/CSAutoParameterize/original/Views/Web.config
/HotelManagement/obj/Debug/CSAutoParameterize/original/Web.config
/HotelManagement/obj/Debug/CSAutoParameterize/transformed/Views/Web.config
/HotelManagement/obj/Debug/CSAutoParameterize/transformed/Web.config
/HotelManagement/obj/Debug/HotelManagement.csprojResolveAssemblyReference.cache
/HotelManagement/obj/Debug/Package/HotelManagement.SetParameters.xml
/HotelManagement/obj/Debug/Package/HotelManagement.SourceManifest.xml
/HotelManagement/obj/Debug/Package/HotelManagement.deploy-readme.txt
/HotelManagement/obj/Debug/Package/HotelManagement.deploy.cmd
/HotelManagement/obj/Debug/Package/HotelManagement.zip
/HotelManagement/obj/Debug/Package/PackageTmp/Content/css/GraySite.css
/HotelManagement/obj/Debug/Package/PackageTmp/Content/css/layout.css
/HotelManagement/obj/Debug/Package/PackageTmp/Content/css/style.css
/HotelManagement/obj/Debug/Package/PackageTmp/Content/images/main_image.jpg
/HotelManagement/obj/Debug/Package/PackageTmp/Content/scripts/jquery-1.8.3.min.js
/HotelManagement/obj/Debug/Package/PackageTmp/Content/scripts/maxheight.js
/HotelManagement/obj/Debug/Package/PackageTmp/Content/scripts/script.js
/HotelManagement/obj/Debug/Package/PackageTmp/Global.asax
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Home/Index.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Home/InvalidParams.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Hotel/Add.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Hotel/Edit.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Hotel/Index.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Hotel/Success.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/HotelChain/Index.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Room/Add.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Room/Detail.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Room/Index.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Room/Success.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/RoomType/Index.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Shared/BookingSection.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Shared/Header.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Shared/MainMenu.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Shared/_SiteLayout.cshtml
/HotelManagement/obj/Debug/Package/PackageTmp/Views/Web.config
/HotelManagement/obj/Debug/Package/PackageTmp/Web.config
/HotelManagement/obj/Debug/Package/PackageTmp/bin/HotelManagement.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/HotelManagement.pdb
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Iesi.Collections.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Iesi.Collections.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Microsoft.Web.Infrastructure.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/NHibernate.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/NHibernate.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Newtonsoft.Json.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Newtonsoft.Json.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Ninject.Web.Common.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Ninject.Web.Common.pdb
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Ninject.Web.Common.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Ninject.Web.Mvc.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Ninject.Web.Mvc.pdb
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Ninject.Web.Mvc.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Ninject.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Ninject.pdb
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Ninject.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Rhino.Mocks.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/Rhino.Mocks.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/RouteDebugger.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Net.Http.Formatting.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Net.Http.Formatting.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Net.Http.WebRequest.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Net.Http.WebRequest.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Net.Http.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Net.Http.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.Helpers.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.Helpers.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.Http.WebHost.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.Http.WebHost.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.Http.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.Http.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.Mvc.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.Mvc.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.Razor.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.Razor.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.WebPages.Deployment.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.WebPages.Deployment.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.WebPages.Razor.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.WebPages.Razor.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.WebPages.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/System.Web.WebPages.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/WebActivator.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/hibernate.cfg.xml
/HotelManagement/obj/Debug/Package/PackageTmp/bin/nunit.framework.dll
/HotelManagement/obj/Debug/Package/PackageTmp/bin/nunit.framework.xml
/HotelManagement/obj/Debug/Package/PackageTmp/packages.config
/HotelManagement/obj/Debug/TransformWebConfig/original/Web.config
/HotelManagement/obj/Debug/TransformWebConfig/transformed/Web.config
/HotelManagement/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/HotelManagement/obj/Release/HotelManagement.csproj.FileListAbsolute.txt
/HotelManagement/obj/Release/HotelManagement.dll
/HotelManagement/obj/Release/HotelManagement.pdb
/HotelManagement/obj/Release/DesignTimeResolveAssemblyReferences.cache
/HotelManagement.Models/bin/Debug/HotelManagement.Models.pdb
/HotelManagement.Models/obj/Debug/HotelManagement.Models.pdb
/HotelManagement.ServiceApp/Bin/HotelManagement.Models.pdb
/HotelManagement.Tests/bin/Debug/HotelManagement.Models.pdb
/HotelManagement.Web/Bin/HotelManagement.Models.pdb
/HotelManagement.Repository/bin/Debug/HotelManagement.Repository.pdb
/HotelManagement.Repository/obj/Debug/HotelManagement.Repository.pdb
/HotelManagement.ServiceApp/Bin/HotelManagement.Repository.pdb
/HotelManagement.ServiceApp/Bin/HotelManagement.ServiceApp.pdb
/HotelManagement.ServiceApp/obj/Debug/HotelManagement.ServiceApp.pdb
/HotelManagement.Tests/bin/Debug/HotelManagement.Web.pdb
/HotelManagement.Web/Bin/HotelManagement.Web.pdb
/HotelManagement.Web/obj/Debug/HotelManagement.Web.pdb
/HotelManagement.ServiceApp/Bin/Ninject.Extensions.Wcf.pdb
/HotelManagement.ServiceApp/Bin/Ninject.pdb
/HotelManagement.Web/Bin/Ninject.pdb
/HotelManagement.ServiceApp/Bin/Ninject.Web.Common.pdb
/HotelManagement.Web/Bin/Ninject.Web.Common.pdb
/HotelManagement.Web/Bin/Ninject.Web.Mvc.pdb
/HotelManagement.ServiceApp/Bin/AutoMapper.dll
/HotelManagement.Models/bin/Debug/HotelManagement.Models.dll
/HotelManagement.Models/obj/Debug/HotelManagement.Models.dll
/HotelManagement.ServiceApp/Bin/HotelManagement.Models.dll
/HotelManagement.Tests/bin/Debug/HotelManagement.Models.dll
/HotelManagement.Web/Bin/HotelManagement.Models.dll
/HotelManagement.Repository/bin/Debug/HotelManagement.Repository.dll
/HotelManagement.Repository/obj/Debug/HotelManagement.Repository.dll
/HotelManagement.ServiceApp/Bin/HotelManagement.Repository.dll
/HotelManagement.ServiceApp/Bin/HotelManagement.ServiceApp.dll
/HotelManagement.ServiceApp/obj/Debug/HotelManagement.ServiceApp.dll
/HotelManagement.Tests/bin/Debug/HotelManagement.Web.dll
/HotelManagement.Web/Bin/HotelManagement.Web.dll
/HotelManagement.Web/obj/Debug/HotelManagement.Web.dll
/HotelManagement.Repository/bin/Debug/Iesi.Collections.dll
/HotelManagement.ServiceApp/Bin/Iesi.Collections.dll
/HotelManagement.Web/Bin/Iesi.Collections.dll
/HotelManagement.ServiceApp/Bin/Microsoft.Web.Infrastructure.dll
/HotelManagement.Web/Bin/Microsoft.Web.Infrastructure.dll
/HotelManagement.Web/Bin/Newtonsoft.Json.dll
/HotelManagement.Repository/bin/Debug/NHibernate.dll
/HotelManagement.ServiceApp/Bin/NHibernate.dll
/HotelManagement.Web/Bin/NHibernate.dll
/HotelManagement.ServiceApp/Bin/Ninject.dll
/HotelManagement.Web/Bin/Ninject.dll
/HotelManagement.ServiceApp/Bin/Ninject.Extensions.Wcf.dll
/HotelManagement.ServiceApp/Bin/Ninject.Web.Common.dll
/HotelManagement.Web/Bin/Ninject.Web.Common.dll
/HotelManagement.Web/Bin/Ninject.Web.Mvc.dll
/HotelManagement.Web/Bin/nunit.framework.dll
/HotelManagement.Web/Bin/Rhino.Mocks.dll
/HotelManagement.Web/Bin/RouteDebugger.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.BookingDetailService.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.BookingService.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.HotelChainService.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.HotelService.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.MenuService.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.RoomService.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.RoomTypeService.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.ServiceReference222.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.SettingService.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.UserMenuService.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.UserService.Reference.cs.dll
/HotelManagement.Web/obj/Debug/TempPE/Service References.UserTypeService.Reference.cs.dll
/HotelManagement.Web/Bin/System.Net.Http.dll
/HotelManagement.Web/Bin/System.Net.Http.Formatting.dll
/HotelManagement.Web/Bin/System.Net.Http.WebRequest.dll
/HotelManagement.Web/Bin/System.Web.Helpers.dll
/HotelManagement.Web/Bin/System.Web.Http.dll
/HotelManagement.Web/Bin/System.Web.Http.WebHost.dll
/HotelManagement.Web/Bin/System.Web.Mvc.dll
/HotelManagement.Web/Bin/System.Web.Razor.dll
/HotelManagement.Web/Bin/System.Web.WebPages.Deployment.dll
/HotelManagement.Web/Bin/System.Web.WebPages.dll
/HotelManagement.Web/Bin/System.Web.WebPages.Razor.dll
/HotelManagement.ServiceApp/Bin/WebActivator.dll
/HotelManagement.Web/Bin/WebActivator.dll
/HotelManagement.Web/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/HotelManagement.Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HotelManagement.Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HotelManagement.ServiceApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HotelManagement.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HotelManagement.ServiceApp/obj/Debug/HotelManagement.ServiceApp.csprojResolveAssemblyReference.cache
/HotelManagement.Models/obj/Debug/HotelManagement.Models.csproj.FileListAbsolute.txt
/HotelManagement.Repository/obj/Debug/HotelManagement.Repository.csproj.FileListAbsolute.txt
/HotelManagement.ServiceApp/obj/Debug/HotelManagement.ServiceApp.csproj.FileListAbsolute.txt
/HotelManagement.Web/obj/Debug/HotelManagement.Web.csproj.FileListAbsolute.txt
/HotelManagement.ServiceApp/Bin/AutoMapper.xml
/HotelManagement.Repository/bin/Debug/hibernate.cfg.xml
/HotelManagement.ServiceApp/Bin/hibernate.cfg.xml
/HotelManagement.Repository/bin/Debug/Iesi.Collections.xml
/HotelManagement.ServiceApp/Bin/Iesi.Collections.xml
/HotelManagement.Web/Bin/Iesi.Collections.xml
/HotelManagement.Web/Bin/Newtonsoft.Json.xml
/HotelManagement.Repository/bin/Debug/NHibernate.xml
/HotelManagement.ServiceApp/Bin/NHibernate.xml
/HotelManagement.Web/Bin/NHibernate.xml
/HotelManagement.ServiceApp/Bin/Ninject.Extensions.Wcf.xml
/HotelManagement.ServiceApp/Bin/Ninject.Web.Common.xml
/HotelManagement.Web/Bin/Ninject.Web.Common.xml
/HotelManagement.Web/Bin/Ninject.Web.Mvc.xml
/HotelManagement.ServiceApp/Bin/Ninject.xml
/HotelManagement.Web/Bin/Ninject.xml
/HotelManagement.Web/Bin/nunit.framework.xml
/HotelManagement.Web/Bin/Rhino.Mocks.xml
/HotelManagement.Web/Bin/System.Net.Http.Formatting.xml
/HotelManagement.Web/Bin/System.Net.Http.WebRequest.xml
/HotelManagement.Web/Bin/System.Net.Http.xml
/HotelManagement.Web/Bin/System.Web.Helpers.xml
/HotelManagement.Web/Bin/System.Web.Http.WebHost.xml
/HotelManagement.Web/Bin/System.Web.Http.xml
/HotelManagement.Web/Bin/System.Web.Mvc.xml
/HotelManagement.Web/Bin/System.Web.Razor.xml
/HotelManagement.Web/Bin/System.Web.WebPages.Deployment.xml
/HotelManagement.Web/Bin/System.Web.WebPages.Razor.xml
/HotelManagement.Web/Bin/System.Web.WebPages.xml
/HotelManagement.DTO/bin/Debug/HotelManagement.DTO.dll
/HotelManagement.DTO/bin/Debug/HotelManagement.DTO.pdb
/HotelManagement.DTO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/HotelManagement.DTO/obj/Debug/HotelManagement.DTO.csproj.FileListAbsolute.txt
/HotelManagement.DTO/obj/Debug/HotelManagement.DTO.dll
/HotelManagement.DTO/obj/Debug/HotelManagement.DTO.pdb
/HotelManagement.ServiceApp/Bin/HotelManagement.DTO.dll
/HotelManagement.ServiceApp/Bin/HotelManagement.DTO.pdb
/HotelManagement.Tests/bin/Debug/HotelManagement.DTO.dll
/HotelManagement.Tests/bin/Debug/HotelManagement.DTO.pdb
/HotelManagement.Web/Bin/HotelManagement.DTO.dll
/HotelManagement.Web/Bin/HotelManagement.DTO.pdb
/HotelManagement.Web/obj/Debug/HotelManagement.Web.csprojResolveAssemblyReference.cache
