@using System.Collections.Generic;
@using HotelManagement.DTO;

@model IEnumerable<RoomDTO>
@{
    ViewBag.Title = "CheckAvailability";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<div>
    @foreach(RoomDTO room in Model)
    {
        <fieldset>
            @room.Name
        </fieldset>
    }
</div>
