body 
{
    background-color: Gray;
    font-family: Verdana;
    font-size: larger;
}

topmenu
{
    text-align: justify;
    background-color: White;
    color: Red;
}

.topmenu fieldset a
{    
    color: Blue;    
}

.validationerror
{
    color: Red;
    font-weight: bold;    
}

linkbutton {
	cursor: pointer;
	cursor: hand;
    background-color: transparent;
	text-decoration: underline;
}

.main_image 
{   
    background-image: url('../images/main_image.jpg');    
    width: 800px;
    height:200px;
}

.deleteform
{
    background-color: Lime;    
}