@using HotelManagement.Models;

@model IEnumerable<Hotel>

@{
    ViewBag.Title = "Hotels";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Hotel Name
        </th>
        <th>
            Click to edit
        </th>
    </tr>
    @foreach (Hotel hotel in Model)
    {
        <tr>
            <td>
                <div>@hotel.Name</div>
            </td>
            <td>
                <div>@Html.ActionLink("Edit", "Edit", new { id = hotel.Id })</div>
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Hotel", FormMethod.Post, new { id = "form" + hotel.Id, @class = "userform" }))
                {
                    @Html.Hidden("id", hotel.Id)
                    <input type="submit" value="Delete" class="linkbutton" />
                }
            </td>
        </tr>
    }
</table>

<div>@Html.ActionLink("Add New Hotel", "Add")</div>

<script type="text/javascript">
    $("#deleteform").submit(function ()
    {
        var form = $(this);
        $.post(form.attr("href"), form.serialize(), function (data) { /*manipulate page*/ }, "text")
        return false;
    });
</script>

