@using HotelManagement.Models;
@using System.Collections;

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Index";
}
<h2>Index</h2>
        
@foreach (HotelChain hotelChain in ViewBag.HotelChains)
{ 
    <h1>@hotelChain.Name</h1>
    foreach (Hotel hotel in ((IEnumerable<Hotel>)ViewBag.Hotels).Where(h => h.HotelChain.Name == hotelChain.Name))
    { 
            @Html.ActionLink(@hotel.Name, "Index", "Hotel", null, null);<br />
    }
}


