<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add factory="HotelManagement.WCFNinject" service="HotelManagementService.SettingService" relativeAddress="HotelManagementService.SettingService"/>
        <add factory="HotelManagement.WCFNinject" service="HotelManagementService.BookingService" relativeAddress="HotelManagementService.BookingService"/>
        <add factory="HotelManagement.WCFNinject" service="HotelManagementService.UserService" relativeAddress="HotelManagementService.UserService"/>
      </serviceActivations>      
    </serviceHostingEnvironment>    
    <services>
      <service name="HotelManagementService.SettingService" behaviorConfiguration="NinjectBehaviour">        
        <endpoint address="" binding="wsHttpBinding" contract="HotelManagementService.ISettingService">          
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>            
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/HotelManagementService/SettingService/"/>
          </baseAddresses>
        </host>        
      </service>
      <service name="HotelManagement.Service.UserService"  behaviorConfiguration="NinjectBehaviour">
        <endpoint address="" binding="wsHttpBinding" contract="HotelManagement.Service.IUserService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/HotelManagement.Service/UserService/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="HotelManagement.Service.BookingService"  behaviorConfiguration="NinjectBehaviour">
        <endpoint address="" binding="wsHttpBinding" contract="HotelManagement.Service.IBookingService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/HotelManagement.Service/BookingService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NinjectBehaviour">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
