@using HotelManagement;

@model String


@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<script type="text/javascript">
    redirect(1500, '@Url.Action("Index", "Home")');
</script>
<h2>
    Success</h2>
<div>@Model</div>
<br />
<br />
<br />
<br />
<div>@Html.ActionLink("Home", "Index", "Home")</div>
