@using HotelManagement.Helpers.CacheHelpers;

@if (SessionCache.UserType != null && SessionCache.UserType.Name == "Admin")
{
    <ul class="nav">
        <li><a href="index.html">Home</a>|</li>
        <li><a href="services.html">Services</a>|</li>
        <li><a href="gallery.html">Gallery</a>|</li>
        <li><a href="restaurant.html">Restaurant</a>|</li>
        <li><a href="testimonials.html">Testimonials</a>|</li>
        <li><a href="booking.html">Booking</a></li>
    </ul>
}