@using System.Collections;
@using HotelManagement.DTO;

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Hotel Chains";
}
<h2>Index</h2>
        
@foreach (HotelChainDTO hotelChain in ViewBag.HotelChains)
{ 
    <h1>@hotelChain.Name</h1>
    foreach (HotelDTO hotel in ((IEnumerable<HotelDTO>)ViewBag.Hotels).Where(h => h.HotelChain.Name == hotelChain.Name))
    { 
            @Html.ActionLink(@hotel.Name, "Index", "Hotel", null, null);<br />
    }
}


