<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RouteDebugger:Enabled" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBookingService" />
        <binding name="BasicHttpBinding_IBookingDetailService" />
        <binding name="BasicHttpBinding_IHotelChainService" />
        <binding name="BasicHttpBinding_IHotelService" />
        <binding name="BasicHttpBinding_IRoomService" />
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_IUserTypeService" />
        <binding name="BasicHttpBinding_IRoomTypeService" />
        <binding name="BasicHttpBinding_ISettingService" />
        <binding name="BasicHttpBinding_IMenuService" />
        <binding name="BasicHttpBinding_IUserMenuService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58323/BookingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingService"
        contract="BookingService.IBookingService" name="BasicHttpBinding_IBookingService" />
      <endpoint address="http://localhost:50373/BookingDetailService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookingDetailService"
        contract="BookingDetailService.IBookingDetailService" name="BasicHttpBinding_IBookingDetailService" />
      <endpoint address="http://localhost:50373/HotelChainService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelChainService"
        contract="HotelChainService.IHotelChainService" name="BasicHttpBinding_IHotelChainService" />
      <endpoint address="http://localhost:50373/HotelService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IHotelService" contract="HotelService.IHotelService"
        name="BasicHttpBinding_IHotelService" />
      <endpoint address="http://localhost:50373/RoomService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRoomService" contract="RoomService.IRoomService"
        name="BasicHttpBinding_IRoomService" />
      <endpoint address="http://localhost:50373/UserService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="UserService.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:50373/UserTypeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserTypeService"
        contract="UserTypeService.IUserTypeService" name="BasicHttpBinding_IUserTypeService" />
      <endpoint address="http://localhost:50489/RoomTypeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomTypeService"
        contract="RoomTypeService.IRoomTypeService" name="BasicHttpBinding_IRoomTypeService" />
      <endpoint address="http://localhost:50373/SettingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISettingService"
        contract="SettingService.ISettingService" name="BasicHttpBinding_ISettingService" />
      <endpoint address="http://localhost:50373/MenuService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMenuService" contract="MenuService.IMenuService"
        name="BasicHttpBinding_IMenuService" />
      <endpoint address="http://localhost:50373/UserMenuService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserMenuService"
        contract="UserMenuService.IUserMenuService" name="BasicHttpBinding_IUserMenuService" />
    </client>
  </system.serviceModel>
</configuration>